<!DOCTYPE html>
<html>

<head>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
        }

        .grid-item {
            border: 1px solid lightcoral;
        }
    </style>

<body>
    <div class="grid-container">
        <div class="grid-item">
            <p>Paragraph</p>
        </div>
        <div class="grid-item">
            <p>Paragraph</p>
        </div>
        <div class="grid-item">
            <p>Paragraph</p>
        </div>

    </div>

</body>
</head>

</html>