<!DOCTYPE html>
<html>

<head>
    <meta charser="utf-8" />
    <title> Layout</title>
    </head>
    <body>
        <strong>Sahithikasa@123</strong>
        <div style="background-color: brown;">
              Divison area
        </div>
              <strong>SahithiKasa@123</strong>
                <hr>
                        <strong>Sahithikasa@123</strong>
        <span style="background-color: green;">
              span area
        </span>
              <strong>SahithiKasa@123</strong>
                
                
    </body>
    </html>
        